 
body {
  background-image: url("../public//bggreen.jpeg");
  background-repeat:no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100vh;
  color: white;
}

.container{
  width: 80vw;
  height: 90vh;
  background-color: rgba(10, 21, 42, 0.214);
  backdrop-filter: blur(19px) saturate(180%);
  border: 1px solid rgba(131, 133, 137, 0.259);
  border-radius: 10px;
  display: flex;
}

.loading{
  padding: 50px;
  font-size: 30px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.6);
}